@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Permanent+Marker&family=Poppins:wght@300&display=swap');
$font-creepster:'Creepster', cursive;
$font-permanent-marker:'Permanent Marker', cursive;
$font-poppins:'Poppins', sans-serif;
$color-green-ligth: #48F9CE;
$color-black: #000000;
$color-green: #83CD29;
$color-gray: #565656;
$color-gray-2:#8A8686;